<div class="container-fluid footer">
    <footer class="text-center">
        <div class="row">
            <div class="col-sm-4">
                Sitemap
            </div>
            <div class="col-sm-4">
                <small>© Copyright 2017 MOOCH</small>
            </div>
            <div class="col-sm-4">
                Contact Us!
            </div>
        </div>


    </footer>
</div>