    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MOOCH</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
          </ul>
      
          {{#if signedIn}}
          <p   id={{emai}}>
            <li class="dropdown">
              <a href='/user/profile' class="dropdown-toggle" data-toggle="dropdown">{{email}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style="list-style: none">
                <li>
                  <a href='/user/profile' >Profile</a>
                </li>
                <li>
                  <a href="#">Transactions</a>
                </li>
                <li>
                  <a href='/user/products'>My Products</a>
                </li>
                <li>
                  <p>
                    <a class="btn btn-primary" id='signOutUser' email={{email}}>Sign Out</a>
                  </p>
                </li>
              </ul>
            </li>
          </p>
          {{else}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal" id="signIn">
            Sign-in
          </button>
       
           <button class="newUserReg btn btn-secondary" value="Register">Register</button>
        
          {{/if}}
        </div>
      
      </nav>
      
      <!-- Button trigger modal -->
      
      
      <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign-In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="usr">E-mail:</label>
                  <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button id='signInButton' data-dismiss="modal" type="button" class="btn btn-primary">Sign In</button>
            </div>
          </div>
        </div>
      </div>
      

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="http://i2.wp.com/boardsandpowder.com/wp-content/uploads/2017/10/DSC_0109.jpg" alt="First slide" height="500">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="images/tools.jpg" alt="Second slide" height="500">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://sportsrec.kennesaw.edu/outdoor/images/EquipmentRental.jpg" alt="Third slide"
              height="500">
          </div>
        </div>
      </div>
      
      
      
      <form id="searchBar">
        <div class="row">
          <!-- <div class="form-group"> -->
          <div class="col-sm-5">
            <!-- USER INPUT AREA -->
            <input type="text" class="form-control" placeholder="Search for things to RENT" id="userSearch">
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Zipcode" id="zipCode">
            <span id="error"></span>
          </div>
            <!-- SUBMIT BUTTON -->
            <input type="submit" id="submitSearch" class="btn btn-primary">
          </div>
        </div>
        <!-- noSearch Results Section -->
        <div class="row">
          <div class="col-lg-12">
            <div id="noSearchResults"></div>
          </div>
        </div>
      </form>



  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <!-- 비부분은 웹사이트 소계  -->
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="http://rentappease.com/wp-content/uploads/2017/06/rent.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>MOOCHEE</h2>
        <p>A "MOOCHEE" is someone who own tools and other products where they spent alot of money to purchase but rarely use. Why not make some side cash by renting it out???
          Become a official MOOCHEE!!!
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://i.pinimg.com/736x/f2/83/65/f283658970fdecca443d01fa2faf1544--apartment-patio-decorating-small-apartment-patios.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>WTF is MOOCH??</h2>
        <p>MOOCH is medium for people to find things that they need but don't need to purchase OR for people who have a lot of things but rarely use them. </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://uncw.edu/campusrec/adventures/images/RentalBoats.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>MOOCHER</h2>
        <p>Need something really bad but don't want to pay big $$$ to purchase the product? Save some money and make a friend around your neighborhood by renting through MOOCH.</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <hr>


    <!-- START THE FEATURETTES -->
    <!-- 이부분에는 카타고리 삽입 사진과 함께 use cards?? -->
    <div class="conatiner">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center"> Categories </h1>

        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-4">
          <img src="http://calhan.co/sites/default/files/styles/content_detail_banner/public/photos/2014/04/full/allrental2.jpg" alt="" class="center-block" width="300" height="300"/>
          <h2>Machinery</h2>
        </div>

        <div class="col-sm-4 center-block">
          <img src="https://www.americantoolandpartyrental.com/hdrs/homepage9.jpg" alt="" class="center-block" width="300" height="300"/>
          <h2>Recreation & Party Supplies</h2>
        </div>

        <div class="col-sm-4 center-block">
          <img src="http://sportsrec.kennesaw.edu/outdoor/images/EquipmentRental.jpg" alt="" class="center-block" width="300" height="300"/>
          <h2>Sports & Outdoors</h2>
        </div>

      </div>
    </div>
    <!-- /END THE FEATURETTES -->

    <br>
    <br>
    <hr>

    <!-- FOOTER -->
    <footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2017 MOOCH</small>
        </div>
    </footer>

  </div>
