<div class='head-bg-image'>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class='title head-title text-center'> Share and make
          <i class='fas fa-money-bill-alt fa-2x'></i>
        </h1>
      </div>
    </div>
  </div>



  {{!--
  <div class="container">
    <form class='flex-column ' id="searchBar">
      <div class="row">
        <!-- <div class="form-group"> -->
        <div class="col-sm-12 w-auto">
          <!-- USER INPUT AREA -->
          <input type="text" class="form-control " placeholder="Search for things to RENT" id="userSearch">
        </div>
        <div class="col-sm-12 w-auto">
          <input type="text" class="form-control my-2" placeholder="Zipcode" id="zipCode">
          <span id="error"></span>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="col-sm-12 w-auto">
          <input type="submit" class="btn btn-primary w-100 submitSearch">
        </div>
      </div>

      <!-- noSearch Results Section -->
      <div class="row">
        <div class="col-lg-12">
          <div id="noSearchResults"></div>
        </div>
      </div>
    </form>
  </div> --}} {{!--
  <div class="row">
    <div class="col-sm-12 text-center">
      <a class="btn btn-primary" id="findAllButton">Find All</a>
    </div>
  </div>
  --}}



  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <!-- 비부분은 웹사이트 소계  -->
  <div class="container marketing text-center my-5">
    <h1 class="mb-5">What is
      <span class='title'>MOOCH?</span>
    </h1>
    <div class="row">
      <div class="col-sm-4 step d-flex align-items-stretch">
        <div class="card mx-auto my-3" style="width: 18rem;">
          <img class="card-img-top" src="images/powertool.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">STEP 1: Find something you can rent out!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 step d-flex align-items-stretch">
        <div class="card mx-auto my-3" style="width: 18rem;">
          <img class="card-img-top" src="images/post.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Post the item on
              <span class='title'>MOOCH</span>!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 step d-flex align-items-stretch">
        <div class="card mx-auto my-3" style="width: 18rem;">
          <img class="card-img-top" src="images/cash.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Make $$ when you rent it out!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <!-- Three columns of text below the carousel -->
      {{!--
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="http://rentappease.com/wp-content/uploads/2017/06/rent.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h2>MOOCHEE</h2>
          <p>A "MOOCHEE" is someone who own tools and other products where they spent alot of money to purchase but rarely use.
            Why not make some side cash by renting it out??? Become a official MOOCHEE!!!
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://i.pinimg.com/736x/f2/83/65/f283658970fdecca443d01fa2faf1544--apartment-patio-decorating-small-apartment-patios.jpg"
            alt="Generic placeholder image" width="140" height="140">
          <h2>WTF is MOOCH??</h2>
          <p>MOOCH is medium for people to find things that they need but don't need to purchase OR for people who have a lot
            of things but rarely use them. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://uncw.edu/campusrec/adventures/images/RentalBoats.jpg" alt="Generic placeholder image"
            width="140" height="140">
          <h2>MOOCHER</h2>
          <p>Need something really bad but don't want to pay big $$$ to purchase the product? Save some money and make a friend
            around your neighborhood by renting through MOOCH.</p>
        </div>
        <!-- /.col-lg-4 -->--}}
      </div>
      <!-- /.row -->

      <hr>


      <!-- START THE FEATURETTES -->
      <!-- 이부분에는 카타고리 삽입 사진과 함께 use cards?? -->
      <div class="container recent-listing my-5">
        <h4 class='text-left'>Recent Listings: </h4>
        <div id="recentPosts" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/motorcycle.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/skiis.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/weights.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch ">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/sport_recreation.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem; ">
                    <img class="card-img-top" src="images/grill.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/hockeygear.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch ">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/lawnmower1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/speakers.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/tv.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#recentPosts" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#recentPosts" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


      <hr>
      <!-- /END THE FEATURETTES -->
      <div class="container recent-rentals my-5 mx-auto">
        <h4 class='text-left'>Recent Rentals: </h4>
        <div id="recentRentals" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/laptop.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/couch.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/bicycle.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch ">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/golfclubs.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem; ">
                    <img class="card-img-top" src="images/generator.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/powersaw.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4 d-flex align-items-stretch ">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/speakers.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/speakers.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                  <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/tv.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#recentRentals" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#recentRentals" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>